# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Environment files
.env

# Virtual environment
venv/
whispers-backend/
.env/
.venv/
.whispers-backend/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Uvicorn logs
*.pid


# Node modules
node_modules/

# Build output
dist/
build/

# Vite cache
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

# Environment config
.env
.env.*.local

# VSCode
.vscode/

# Mac
*.DS_Store

# Optional lock file
package-lock.json
